<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated TOSCA-v1.0 -->
      <package
            uri="http://docs.oasis-open.org/tosca/ns/2011/12"
            class="org.open.oasis.docs.tosca.tosca.TOSCAPackage"
            genModel="model/TOSCA-v1.0.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated TOSCA-v1.0 -->
      <parser
            type="tosca"
            class="org.open.oasis.docs.tosca.tosca.util.TOSCAResourceFactoryImpl"/>
   </extension>
</plugin>
